@using SocialRed.Core.Application.ViewModels.Publication;
@model SavePublicationViewModel
@{
    ViewData["Title"] = "Delete";
}

<div class="row">

    <div class="col-6 offset-3">

        <div class="card" id="CardStyle">

            <div class="card-header bg-danger text-light">

                <h4>Esta seguro que desea eliminar esta publicacion?</h4>
            </div>
            <div class="card-body">
                <form method="post" asp-controller="Publication" asp-action="DeletePost">

                    <input type="hidden" asp-for="Id" />

                    <button type="submit" class="btn btn-danger">Eliminar</button>
                    <a asp-controller="Home" asp-action="Index" class="btn btn-warning">Cancelar</a>
                </form>
            </div>

        </div>

    </div>

</div>

